<div class="center jumbotron">
  <h1>History</h1>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Events</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Action Taken</th>
      </tr>
      <tr>
        <td>5</td>
        <td>The feild in unfertilized</td>
        <td>Used 500tons of fertilier</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Field inspector report came in, Field in over fertilized and choke itself.</td>
        <td>Did not pay to have the Field fixed</td>
      </tr>


    </table>
    </div>


</div>
