<div class="center jumbotron">
  <h1>Welcome <%= current_user.name %></h1>

  <b>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Classrooms</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Classroom Name</th>
        <th>Classroom ID</th>
        <th>Number of Students</th>
        <th>Date Created</th>
        <th>Current Day</th>
      </tr>

      <tr>
        <td>Fall2014_TR_4:30</td>
        <td>54778DSxsA01</td>
        <td>3</td>
        <td>9/02/2014</td>
        <td>day 58</td>
      </tr>

      <tr>
        <td>Fall2014_MW_2:30</td>
        <td>5@34sxDSxasd01</td>
        <td>21</td>
        <td>9/01/2014</td>
        <td>day 62</td>
      </tr>

      <tr>
        <td>Spring2014_TR_4:30</td>
        <td>BResew@#!212</td>
        <td>28</td>
        <td>1/02/2014</td>
        <td>day 108</td>
      </tr>
      ...
      </table>
    </div>

  </b>


</div>
