<div class="center jumbotron">
  <h1>Fall2014_TR_4:30</h1>

  <b>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Classroom Info</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Classroom Name</th>
        <th>Classroom ID</th>
        <th>Number of Students</th>
        <th>Date Created</th>
        <th>Current Day</th>
      </tr>

      <tr>
        <td>Fall2014_TR_4:30</td>
        <td>54778DSxsA01</td>
        <td>3</td>
        <td>9/02/2014</td>
        <td>day 58</td>
      </tr>
    </table>
    </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">List of Students</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Student Name</th>
        <th>Current Day</th>
      </tr>

      <tr>
        <th>Jon Sneathen</th>
        <th>56</th>
      </tr>
      <tr>
        <th>Nick Karasch</th>
        <th>58</th>
      </tr>
      <tr>
        <th>Will Taylor</th>
        <th>44</th>
      </tr>
      ...
      </table>
    </div>

  </b>


</div>
