<div class="center jumbotron">
  <h1>William Taylor</h1>


  <b>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Student Info</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <td>Day</td>
        <td>58</td>
      </tr>
      <tr>
        <td>Money</td>
        <td>$4000.00</td>
      </tr>
      <tr>
        <td>etc</td>
        <td>etc</td>
      </tr>


    </table>
    </div>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Events</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Action Taken</th>
      </tr>
      <tr>
        <td>5</td>
        <td>The feild in unfertilized</td>
        <td>Used 500tons of fertilier</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Field inspector report came in, Field in over fertilized and choke itself.</td>
        <td>Did not pay to have the Field fixed</td>
      </tr>


    </table>
    </div>
  </b>


</div>
